<%- include('partials/head') -%>
<%- include('partials/header') -%>
<form class="" action="/account-create" method="post">
  <p class="error"><% if (exitcode != 200) {%>
    Failed to create a new account. [Exitcode: <%= exitcode %>] <%= message %>.
  <% } %></p>
  <label for="staffId">Staff ID: </label>
  <input type="text" name="staffId" pattern="^[A-Z]{3}[0-9]{7}" maxlength="10" value="" required>
  <label for="username">Username: </label>
  <input type="text" name="username" value="" required> <br>
  <label for="password">Password: </label>
  <input type="password" name="password" value="" required> <br>
  <label for="role">Role: </label>
  <% if (user.role <= 0) { %> <input type="radio" name="role" value="0">Director</input> <% } %>
  <% if (user.role <= 1) { %> <input type="radio" name="role" value="1">Manager</input> <% } %>
  <input type="radio" name="role" value="2" checked>Staff</input><br>
  <div id="workingShop"><label for="workingShop">Working Shop: </label>
  <select name="workingShop" id="shopList"></select></div>
  <div id="profile">
    <label for="fullname" required>Full name: </label>
    <input type="text" name="fullname" value="" required> <br>
    <label for="dob">Date of birth: </label>
    <input type="date" name="dob" value="" required> <br>
    <label for="phone">Phone: </label>
    <input type="text" name="phone" pattern="[0-9]{10}" value=""> <br>
    <label for="email">Email: </label>
    <input type="email" name="email" value=""> <br>
    <label for="urlImg">Image: </label>
  </div>
  <input type="submit" name="submit" value="Create">
</form>

<script>
  $('input[name="role"]').on('change', function() {
    if ($('input[name="role"]:checked').val() > 0) $('#workingShop').show()
    else $('#workingShop').hide();
  })

  $.get('/shop-list-json', function(data, status){
    data.shopList.forEach(element => {
      $("#shopList").append(`<option value="${element._id}">${element.name} | ${element.address}</option>`)
    });
  })
</script>
<%- include('partials/footer') -%>
