<%- include('partials/head') -%>
<%- include('partials/header') -%>
<% if (exitcode != 200) { %>
  <p>Failed to get the account list. [Exitcode: <%= exitcode %>] <%= message %>.</p>
<% } else { %>
<div class="container-fluid" style="background-color: #E9EBE2;">
  <div class="row" style="display: flex;">
    <div class="col-sm-10"><h4><%= accounts.length %> account(s)</h4></div>
    <div class="col-sm-2" style="display: flex; align-items: center;"><% if (user.role == 0) { %> <a href="/account-create" class="btn btn-primary">New account</a><br> <% } %></div>
  </div>
</div>
<div class="table-wrapper">
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Staff ID</th>
          <th>Username</th>
          <th>Role</th>
          <th>Full name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < accounts.length; i++) { %>
          <tr>
            <td><%= accounts[i].staffId %></td>
            <td><%= accounts[i].username %></td>
            <td><% switch (accounts[i].role) {
              case 0:
            %> Director <%
              break;
              case 1:
            %> Manager <%
              break;
              default:
            %> Staff <%
              break;
            }%></td>
            <td><% {%><%= accounts[i].profile.fullname %> <% } %></td>
            <td><% if (accounts[i].role > user.role || accounts[i].staffId == user.staffId) { %><a href="/account/<%= accounts[i].staffId %>" class="btn btn-primary">View</a> <% } %></td>
          </tr>
          <% } %>
      </tbody>
  </table>
  </div>
<% } %>
<%- include('partials/footer') -%>
